.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  justify-content: center;
  background-color: beige;
}

.card {
  width: 200px;
  height: 130px;
  color: chocolate;
  background-color: #61dafb;
  border: 5px black;
  outline: 2px dashed rgba(255,255,255,0.8); /* Пунктирная рамка */
  outline-offset: -10px; /* Выводим рамку внутри элемента */
  padding: 10px; /* Поля */
  display: inline-flex;
  justify-content: center;

}

.cardset {
  width: 1000px;
  height: 450px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 80px;
  margin-top: 20px;
  border-radius: 50px;
  padding-left: 50px;
}

.empty {
  width: 1000px;
  height: 450px;
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 80px;
  margin-top: 20px;
  border-radius: 50px;
  padding-left: 50px;
}

.card--red{
  background-color: darkseagreen;
}


